@implements IDisposable
@inject AppStatus _appStatus

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Logist</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">

    <nav class="flex-column">
     @if (_appStatus.clnum == 2)
     {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
     }

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mudpage" >
                <span class="oi oi-list-rich" aria-hidden="true"></span> Справочники
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
   

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;


    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized() 
    {
        _appStatus.OnChange += StateHasChanged;
    }
    public void Dispose() 
    {
        _appStatus.OnChange -= StateHasChanged;
    }
}
