@using Logist.Interfaces;
@using Logist.Data;


@page "/counter"

<PageTitle>New User</PageTitle>

<h1>Новый пользователь</h1>

<table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Дата рождения</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    
                </tr>
            
        </tbody>
    </table>

<button class="btn btn-primary">Сохранить</button>

@code {
    
}
