@page "/fetchdata"

<PageTitle>Lists</PageTitle>

@using Logist.Data
@inject ICtrlLists _ctrllists

<h1>Каталог справочников</h1>

@if (_lists == null)
{
    <p><em>Loading...</em></p>
}
else
{
    
   
     <table class="table">
        <thead>
            <tr>
                <th>ClNum</th>
                <th>Id</th>
                <th>Name</th>
                <th>lnum</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lst in _lists)
            {
                <tr>
                    <td>@lst.clnum</td>
                    <td>@lst.id</td>
                    <td>@lst.Name</td>
                    <td>@lst.lnum</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Lists[]? _lists;
    IEnumerable<Lists> FilterLists;

    protected override async Task OnInitializedAsync() 
    {

        _lists =  await Task.FromResult(_ctrllists.GetLists().ToArray());
    }
   
}
