
@implements IDisposable
@inject ProtectedSessionStorage ProtectedSessionStore
@inject UserConnectionData _userConnectionData

    
    @if (isLoaded)
{
        <CascadingValue Value="@this">
            @ChildContent
        </CascadingValue>
    }
    else
    {
        <p>Loading...</p>
    }

@code {
    private bool isLoaded;

    public int CurrentClientNum { get; set; }
    public Users? CurrentUser { get; set; }
    public int ListId { get; set; }


    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var result = await ProtectedSessionStore.GetAsync<int>("clnum");
        CurrentClientNum = result.Success ? result.Value : 0;

        result = await ProtectedSessionStore.GetAsync<int>("listid");
        ListId = result.Success ? result.Value : 0;

        var uresult = await ProtectedSessionStore.GetAsync<Users>("user");
        CurrentUser = uresult.Success ? uresult.Value : null;

        isLoaded = true;

        _userConnectionData.OnChange += StateHasChanged;
        _userConnectionData.CurrentClNum = CurrentClientNum;
        _userConnectionData.CurrentUser = CurrentUser;
    }

   
    public async Task SaveChangesAsync()
    {
        await ProtectedSessionStore.SetAsync("clnum", CurrentClientNum);
        await ProtectedSessionStore.SetAsync("listid", ListId);
        await ProtectedSessionStore.SetAsync("user", CurrentUser);
    }

    public void Dispose() 
    {
        _userConnectionData.OnChange -= StateHasChanged;
    }
}
